<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.era7.bioinfo.bio4j.server.listeners.MainListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetGoAnnotationChartXML</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.GetGoAnnotationChartXMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGoSlimChartXML</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.GetGoSlimChartXMLServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoSlim</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.GoSlimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoAnnotation</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.GoAnnotationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadGoAnnotation</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.DownloadGoAnnotationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadGoSlim</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.DownloadGoSlimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadProteinMultifasta</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.DownloadProteinMultifastaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetGoAnnotationGexf</servlet-name>
        <servlet-class>com.era7.bioinfo.bio4j.server.servlet.GetGoAnnotationGexfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoAnnotationGexf</servlet-name>
        <url-pattern>/GetGoAnnotationGexf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoSlim</servlet-name>
        <url-pattern>/GoSlim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoAnnotation</servlet-name>
        <url-pattern>/GoAnnotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadGoAnnotation</servlet-name>
        <url-pattern>/DownloadGoAnnotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadGoSlim</servlet-name>
        <url-pattern>/DownloadGoSlim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadProteinMultifasta</servlet-name>
        <url-pattern>/DownloadProteinMultifasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGoAnnotationChartXML</servlet-name>
        <url-pattern>/GetGoAnnotationChartXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetGoSlimChartXML</servlet-name>
        <url-pattern>/GetGoSlimChartXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
